.nav-button-container {
  margin: 7px;
}
.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8d8d8d;
}

.nav-icon {
  width: 30px;
  height: 30px;
}

.selected-nav-button {
  color: #3e7cf4;
}
