.nav-button-container {
  margin: 7px;
}
.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8d8d8d;
}

.nav-icon {
  width: 20px;
  height: 20px;
}

.nav-icon:hover {
  color: #779ae1;
}

.selected-nav-button {
  color: #3e7cf4;
}

.salesforce-icon {
  scale: 1.28;
}
