.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--secondary-colour-500);
  padding-right: 0;
}

.nav-icon {
  width: 26px;
  height: 22px;
}

.nav-icon-unselected:hover {
  opacity: 80%;
}

.selected-nav-button {
  color: var(--primary-colour-500);
}

.salesforce-icon {
  scale: 1.28;
}
