.filter-selection-container {
  display: flex;
  width: 90%;
  height: 30px;
  justify-content: flex-end;
}

.filter-container {
  width: 55px;
  padding: 4px;
  margin: 2px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--search-bar-colour);
}

.selected {
  background-color: var(--primary-colour);
  color: var(--dark-mode-text-colour);
}
