.no-favourites-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffff;
  height: 100%;
}

.no-favourites-title {
  margin: 5px;
  font-size: 24px;
}

.no-favourites-subtitle {
  font-size: 13px;
}

.no-favourites-navigate-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-colour);
  border-radius: 5px;
  width: 25%;
  height: 15%;
  padding: 15px;
  color: #ffff;
  margin-top: 15px;
}

.no-favourites-navigate-button > * {
  padding: 5px;
}
