.checkbox-container {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 4px;
  border-radius: 3px;
  color: var(--text-colour);
}

.checkbox-container label {
  font-size: 14px;
}

.checkbox-container input {
  margin-right: 8px;
  cursor: pointer;
  height: 22px;
  width: 22px;
}

/* .selected {
  background-color: (--secondary-colour);
}

.custom-checkbox {
  height: 22px;
  width: 22px;
  background-color: var(--secondary-colour);
  margin-right: 10px;
}

.checkbox-container:hover input ~ .custom-checkbox {
  background-color: #ccc;
} */
