.page-header {
  display: flex;
  align-items: center;
}
.page-title {
  color: #ffffff;
  font-size: 18px;
}

.navigate-back-icon {
  width: 25px;
  height: 25px;
  color: #8d8d8d;
}

.navigate-back-icon:hover {
  color: #3e7cf4;
}
