:root {
  /* Primary Colors */
  --primary-colour-500: #3e7cf4; /* Default */
  --primary-colour-300: #c1daff; /* Light shade */

  /* Secondary Colors */
  --secondary-colour-500: #979797; /* Default */
  --secondary-colour-400: #d9d9d9; /* Lighter shade */
  --secondary-colour-100: #ffffff; /* White */

  /* Functional Colors */
  --background-colour: #f3f3f3; /* Background */
  --icon-favourite-selected: #ffc300; /* Favourite Icon */
  --favourite-icon-selected-colour: #ffc300;
  --text-colour: #000000;
  --icon-colour: #3e7cf4;
}

[data-theme="dark"] {
  --primary-colour-500: #3e7cf4; /* Default */
  --primary-colour-300: #374d6d; /* Light shade */

  --secondary-colour-500: #a1a1a1; /* Gray for dark mode */
  --secondary-colour-400: #666666; /* Lighter gray */
  --secondary-colour-100: #333338; /* Near black */

  --background-colour: #2a2b2e; /* Dark background */
  --text-colour: #ffffff;
  --icon-colour: #364f72;
}

body {
  margin: 0;
  overflow-y: scroll;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: var(--secondary-colour-100);
}

h2 {
  font-size: 14px;
}

input {
  border: none;
  padding: 10px;
  font-size: 16px;
  color: var(--dark-mode-text-colour);
}
label {
  font-family: "Noto Sans", sans-serif;
}

small {
  color: var(--secondary-colour-500);
}

input:focus {
  border: none;
  box-shadow: none;
}

input:focus-visible {
  outline: none;
  border: none;
}

button {
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

.brand-button {
  width: 50px;
  height: 30px;
}

.container-small {
  padding-top: 15px;
  padding-bottom: 20px;
  width: 90%;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-colour-400);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 80%;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}
