:root {
  --primary-colour: #3e7cf4;
  --secondary-colour: #b3b3b3;
  --search-bar-colour: #8d8d8d;
  --favourite-icon-selected-colour: #ffc300;

  /* Dark/light mode variables */
  --dark-mode-text-colour: #ffff;
  --white-mode-text-colour: #3e7cf4;
  --dark-mode-background-colour: #3f3d3d;
  --dark-mode-box-shadow: #0003;
}

h1,
p {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

input {
  border: none;
  padding: 10px;
  font-size: 16px;
  color: var(--dark-mode-text-colour);
}

input:focus {
  border: none;
  box-shadow: none;
}

input:focus-visible {
  outline: none;
  border: none;
}

button {
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-colour);
}

::-webkit-scrollbar {
  width: 7px;
}
