.favourite-shortcut-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
  min-height: 165px;
  max-height: 250px;
  overflow-y: scroll;
}
