.navigate-record-container {
  position: absolute;
  right: 20px;
  top: 55px;
  z-index: 1000;
}

.record-id-form {
  display: flex;
  justify-content: center;
}

.record-id-input {
  background-color: var(--search-bar-colour);
  height: 25px;
  padding: 0;
  padding-left: 7px;
  border-radius: 5px 0 0 5px;
}

.record-id-submit {
  background-color: #8d8d8d;
  height: 25px;
  background-color: var(--primary-colour);
  color: #ffff;
  border-radius: 0 5px 5px 0;
}
