.list-item {
  position: relative;
  width: 80%;
  height: 100px;
  border: 2px solid var(--primary-colour);
  text-align: center;
  margin: 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px var(--dark-mode-box-shadow);
}

.list-button-container {
  width: 100%;
}

.list-button-content {
  display: flex;
  align-items: center;
}

.list-content-cont {
  width: 40%;
}

.list-item-title {
  color: var(--dark-mode-text-colour);
  font-size: 12px;
  font-weight: bold;
}

.list-item-type {
  color: var(--secondary-colour);
  font-size: 11px;
}

.star-container {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.star-icon-unselected {
  color: var(--secondary-colour);
}

.star-icon {
  width: 20px;
  height: 20px;
}

.star-icon-selected {
  color: var(--favourite-icon-selected-colour);
}
